install:
  - sudo sh -c "wget -qO- https://get.docker.io/gpg | apt-key add -"
  - sudo sh -c "echo deb http://get.docker.io/ubuntu docker main > /etc/apt/sources.list.d/docker.list"
  - sudo apt-get update -qq
  - sudo apt-get install -y slirp shunit2 lxc-docker-1.6.0 slirp
  - sudo sudo usermod -aG docker "$USER"

script:
  - ./test
